article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

// setup

// Variables

$copy: 'Helvetica', Arial, sans-serif;
$display: 'Merriweather', serif;


$gray01: #929292;
$gray02: #454545;
$gray03: #BEBEBE;

$black: #000000;
$white: #ffffff;

$pink: #FD3389;


$light: 200;
$reg: 400;
$bold: 600;
$heavy: 800;

$small:"(min-width: 768px)";
$med:"(min-width: 1000px)";

// Helpers: layout

.half {
	width: 100%;
	padding: 0 40px;

	@media #{$med} {
		width: 50%;
		float: left;
		padding: 0 2.5%;
	}

	&:last-child {
		margin: 40px 0 0 0;

		@media #{$med} {
			margin: 0;
		}
	}
}


// Helpers: presentation

.upcase {
	text-transform: uppercase;
}

.italic {
	font-style: italic;
}


.transition {
	transition: all 0.3s ease-in-out;
}

.black {
	color: $black;
}

.gray03 {
	color: $gray03;
}

.light {
	font-weight: $light;
}

.heavy {
	font-weight: $heavy;
}

.serif {
	font-family: $display;
	font-size: 12px;
	line-height: 1.5;
}

.sans-serif{
	font-family: $copy;
}

.show-med-down {
	display: block;
	@media #{$med} {
		display: none;
	}
}

.hide-med-down {
	display: none;
	@media #{$med} {
		display: block;
	}
}

// Elements: Global

body {
	color: $gray02;
}

h1, 
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}


h5 {
	margin: 0 0 5px 0;

	span {
		display: inline-block;
		padding: 3px 0;
	}
}

h1 {
	margin: 0 0 30px 0;
	font-size: 24px;

	@media #{$small} {
		display: block;
		font-size: 30px;
	}
}


a {
	text-decoration: none;
	color: $pink;
	@extend .transition;

	&:hover,
	&:active {
		color: lighten($pink, 10%);
	}
}

img {
	max-width: 100%;
	margin: 0 auto;
	display: block;
}

.button {
	background: $pink;
	color: $white;
	padding: 20px;
	@extend .transition;
	display: inline-block;
	margin: 0 0 10px 0;
	min-width: 100%;
	text-align: center;
	font-size: 12px;

	@media #{$med} {
		min-width: 300px;
	}

	&:hover,
	&:active {
		background: lighten($pink, 10%);
		color: $white;
	}


	&--secondary {
		background: $white;
		clear: both;
		display: block;
		max-width: 300px;
		border: 1.5px solid $gray01;
		padding: 20px;
		text-align: center;
		color: $gray01;


		&:hover,
		&:active {
			background: lighten($gray01, 10%);
			border: 1.5px solid lighten($gray01, 10%);
			text-align: center;
			color: $white;
		}
	}
}

.inner-wrapper {
	max-width: 1140px;
	margin: 0 auto;

	&.main {
		padding: 40px 0;
	}
}

.productCopy__container {
	
	@media #{$med} {
		padding: 0 0 0 60px;
	}
}

.productImg__container {
	margin: 0 0 30px 0;
	
	@media #{$med} {
		margin: 0;
	}

	.copy {
		margin: 0 0 30px 0;
	}
}

.productCopy__container__desc {

	@media #{$med} {
		margin: 0 0 30px 0;
	}
}

.order--link {
	margin: 20px 0 0 0;
	@extend .serif;
}

.image__container{
	    height: 23px;
	    width: 23px;
	    line-height: 28px;
	    background: #000;
	    text-align: center;
	    border-radius: 50%;
	    float: left;
	    margin: 0 5px 0 0;

		img {
			width: 16px;
			height: auto;
		    font-size: 25px;
		    line-height: 20px;
		    padding-top: 5px;
		    text-align: center;
		    display: block;
		}
	}


